### Spring Boot ###
HELP.md

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Logs ###
*.log
logs/

### OS files ###
.DS_Store
Thumbs.db

### Environment files (optional) ###
.env
.env.*