<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
  <meta charset="UTF-8">
  <title>Company Exists</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container my-2">
    <div class="card">
      <div class="card-body">
        <h3 class="text-danger">
          A company with code
          <span th:text="${companyCode}"></span>
          already exists! Please enter a unique and a different code for the company and try adding it again.</h3>
      </div>
    </div>
  </div>
</div>
</body>
</html>