<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
  <meta charset="UTF-8">
  <title>Company Index</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container my-2">
    <div class="card">
      <div class="card-body">
        <h1>Company Master</h1>
        <div class="container">
          <p class="my-5">
            <a href="/companies/add" class="btn btn-success"> <i
                class="fas fa-user-plus ml-2"> </i> Add Company </a>
          </p>
          <div th:if="${companies == 'empty'}">
            <h2 class="text-info">No company yet! You could add one.</h2>
          </div>
          <div th:if="${companies != 'empty'}" class="table-responsive col-md-10">
            <table class="table table-sm table-bordered table-striped">
              <thead class="thead-dark">
              <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Address Book</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="company : ${companies}">
                <td th:text="${company.code}"></td>
                <td th:text="${company.name}"></td>
                <td th:text="${company.description}"></td>
                <td><a th:href="@{/companies/update/{companyCode}(companyCode=${company.code})}"
                       class="btn btn-warning"><i class="fas fa-user-edit ml-2"></i></a></td>
                <td><a th:href="@{/companies/delete/{companyCode}(companyCode=${company.code})}"
                       class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></a></td>
                <td><a th:href="@{'/companies/' + ${company.code} + '/addresses'}"
                       class="btn btn-secondary"><i class="fas fa-address-card"></i></a></td>
              </tr>
              </tbody>
            </table>
            <hr>
            <ul class="nav nav-pills">
              <li class="nav-item" th:each="i : ${#numbers.sequence(0, companies.totalPages-1)}">
                <a th:href="@{/companies/(pageNo=${i})}" th:text="${i}" class="nav-link"
                   th:classappend="${currentPage} == ${i} ? 'active' : ''"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>