<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
  <meta charset="UTF-8">
  <title>GIMP</title>
</head>
<body>
<div layout:fragment="content" class="my-2">
  <div class="card">
    <div class="card-body">
      <h3> Add Address</h3>
      <div class="col-md-10">
        <form action="#"
              th:action="@{/addresses/add/{companyCode}(companyCode=${companyCode})}"
              th:object="${address}"
              method="POST">
          <div class="row">
            <div class="form-group col-md-8">
              <label for="address" class="col-form-label">Address</label>
              <input
                  type="text" th:field="*{addressKey.address}"
                  class="form-control" id="address"
                  placeholder="Address"> <span
                th:if="${#fields.hasErrors('addressKey.address')}"
                th:errors="*{addressKey.address}"
                class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <label for="address2" class="col-form-label">Address2</label>
              <input type="text" th:field="*{address2}"
                     class="form-control" id="address2"
                     placeholder="Address2"> <span
                th:if="${#fields.hasErrors('address2')}"
                th:errors="*{address2}"
                class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <label for="city" class="col-form-label">City</label> <input
                type="text" th:field="*{addressKey.city}"
                class="form-control" id="city"
                placeholder="city"> <span
                th:if="${#fields.hasErrors('addressKey.city')}"
                th:errors="*{addressKey.city}"
                class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <label for="state" class="col-form-label">State</label> <input
                type="text" th:field="*{addressKey.state}"
                class="form-control" id="state"
                placeholder="state"> <span
                th:if="${#fields.hasErrors('addressKey.state')}"
                th:errors="*{addressKey.state}"
                class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <label for="zip" class="col-form-label">Zip</label> <input
                type="text" th:field="*{addressKey.zip}"
                class="form-control" id="zip"
                placeholder="zip"> <span
                th:if="${#fields.hasErrors('addressKey.zip')}"
                th:errors="*{addressKey.zip}"
                class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <div class="form-check">
                <input type="checkbox" th:field="*{isPrimary}"
                       class="form-check-input"
                       id="isPrimary" name="isPrimary"/>
                <label class="form-check-label" for="isPrimary">Primary
                  Address?</label>
                <span th:if="${#fields.hasErrors('isPrimary')}"
                      th:errors="*{isPrimary}" class="text-danger"></span>
              </div>
            </div>
            <div class="col-md-6">
              <input type="submit" class="btn btn-primary" value="Add Address">
            </div>
            <div class="form-group col-md-8"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>