<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
  <meta charset="UTF-8">
  <title>Address Index</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container my-2">
    <div class="card">
      <div class="card-body">
        <h1 th:text="@{Address Master:}"></h1>
        <div class="container">
          <p class="my-5">
            <a
                th:href="@{/addresses/add/{companyCode}(companyCode=${companyCode})}"
                class="btn btn-success"> <i
                class="fas fa-user-plus ml-2"> </i> Add Address </a>
          </p>
          <div th:if="${addressList == 'empty'}" class="col-md-10">
            <h2>No Addresses yet! You could add one.</h2>
          </div>
          <div th:if="${addressList != 'empty'}" class="col-md-10">
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
              <tr>
                <th>Address</th>
                <th>Address2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Is Primary</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="address : ${addressList}">
                <td th:text="${address.addressKey.address}"></td>
                <td th:text="${address.address2}"></td>
                <td th:text="${address.addressKey.city}"></td>
                <td th:text="${address.addressKey.state}"></td>
                <td th:text="${address.addressKey.zip}"></td>
                <td>
                  <input type="checkbox" disabled='disabled'
                         th:checked="${address.isPrimary}"/>
                </td>
                <td><a th:href=
                           "@{/addresses/update/{companyCode}/{addressKey}(companyCode=${companyCode}, addressKey=${address.addressKey})}"
                       class="btn btn-primary"><i
                    class="fas fa-user-edit ml-2"></i></a></td>
                <td><a th:href=
                           "@{/addresses/delete/{companyCode}/{addressKey}(companyCode=${companyCode}, addressKey=${address.addressKey})}"
                       class="btn btn-primary"><i
                    class="fas fa-user-times ml-2"></i></a></td>
              </tr>
              </tbody>
            </table>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>