<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
  <meta charset="UTF-8">
  <title>Application Error Page</title>
  <script type="text/javascript">
    $.get("/user", function(data) {
        $("#user").html(data.name);
        $(".unauthenticated").hide()
        $(".authenticated").show()
    });
    var logout = function() {
    $.post("/logout", function() {
        $("#user").html('');
        $(".unauthenticated").show();
        $(".authenticated").hide();
    })
    return true;
}

  </script>
</head>
<body>
<div layout:fragment="content" class="my-2">
  <div class="container my-5">
    <div class="card">
      <div class="card-body">
        <div class="col-md-10">
          <h4 class="text-info text-center">Welcome to whizspider!
            <div class="container unauthenticated">
              With GitHub: <a href="/oauth2/authorization/github">click here</a>
            </div>
            <div class="container authenticated" style="display:none">
              Logged in as: <span id="user"></span>
              <div>
                <button onClick="logout()" class="btn btn-primary">Logout
                </button>
              </div>
            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>